doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="author" content="Hsi-Mao CHEN 陳喜貿")
		link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet')
		link(rel="stylesheet", href="css/icon-font.css")
		link(rel='stylesheet', href='css/style.css')
		link(rel='shortcut icon', type='image/png', href='img/favicon.png')
		title Natours | Exciting tours for adventurous people
	body
		//- nav style put in layout
		//- .navigation
		//- 	input.navigation__checkbox#nav-toggle(type="checkbox")
		//- 	label.navigation__button(for="nav-toggle")
		//- 		span.navigation__icon
		//- 	.navigation__bg &nbsp;
		//- 	nav.navigation__nav
		//- 		ul.navigation__list
		//- 			li.navigation__item
		//- 				a.navigation__link#about-btn(href="#about") <span>01</span>About Natous
		//- 			li.navigation__item
		//- 				a.navigation__link(href="#features") <span>02</span>Your benfits
		//- 			li.navigation__item
		//- 				a.navigation__link(href="#tours") <span>03</span>Popular tours
		//- 			li.navigation__item
		//- 				a.navigation__link(href="#stories") <span>04</span>Stories
		//- 			li.navigation__item
		//- 				a.navigation__link(href="#booking") <span>05</span>Book now

		//- navigation_new
		.navigation
			.navigation__bg#popup-overlay &nbsp;
			a.navigation__button(href="#popup-overlay")
				span.navigation__icon
			a.navigation__button-class(href="#")
				span.navigation__icon
			nav.navigation__nav
				ul.navigation__list
					li.navigation__item
						a.navigation__link#about-btn(href="#about") <span>01</span>About Natous
					li.navigation__item
						a.navigation__link(href="#features") <span>02</span>Your benfits
					li.navigation__item
						a.navigation__link(href="#tours") <span>03</span>Popular tours
					li.navigation__item
						a.navigation__link(href="#stories") <span>04</span>Stories
					li.navigation__item
						a.navigation__link(href="#booking") <span>05</span>Book now
		header.header
			.header__logo-box
				img.header__logo(src="img/logo-white.png", alt="logo-white")
			.header__text-box
				h1.heading-primary
					span.heading-primary--main.animation-moveInLeft Outdoors
					span.heading-primary--sub.animation-moveInRight is where life happens
				a.btn.btn--white.btn--cover.animation-moveInBottom(href="#tours") Discover our tours
		main
			//- css style 寫在 pages/home.sass
			section.section-about#about
				.u-center-text.u-mb-big
					h2.heading-secondary Exciting tours for adventurous people
				.row
					.col-1-of-2 
						h3.heading-tertiary.u-mb-small You're going to fall in love with nature
						p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, voluptas animi non atque sequi. Dicta nam adipisci recusandae temporibus dolorum veritatis dolorem ullam repudiandae rem enim, fuga, veniam, dolore autem!
						h3.heading-tertiary.u-mb-small Live adventures like you never have before
						p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla amet quod accusamus mollitia
						a.btn-text.u-ml-small(href="#") Learn more &rarr;
					.col-1-of-2 
						.composition
							//- 密度1x顯示小圖, 密度2x但螢幕寬度900以下顯示小圖  20vw = 190px(瀏覽器為900px時圖片當下的寬度) / 900px
							img.composition__photo.composition__photo--p1(srcset='img/nat-1.jpg 300w, img/nat-1-large.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px', alt='photo1' src='img/nat-1-large.jpg')
							img.composition__photo.composition__photo--p2(srcset='img/nat-2.jpg 300w, img/nat-2-large.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px', alt='photo2' src='img/nat-2-large.jpg')
							img.composition__photo.composition__photo--p3(srcset='img/nat-3.jpg 300w, img/nat-3-large.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px', alt='photo3' src='img/nat-3-large.jpg')
							//- 舊版-沒有判斷密度與瀏覽器寬度
							//- img.composition__photo.composition__photo--p1(src="img/nat-1-large.jpg", alt="photo1")
							//- img.composition__photo.composition__photo--p2(src="img/nat-2-large.jpg", alt="photo2")
							//- img.composition__photo.composition__photo--p3(src="img/nat-3-large.jpg", alt="photo3")
			section.section-features#features
				.row
					.col-1-of-4
						.feature-box
							i.feature-box__icon.icon-basic-world
							h3.heading-tertiary.u-mb-small Explore the world
							p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, perspiciatis.
					.col-1-of-4
						.feature-box
							i.feature-box__icon.icon-basic-compass
							h3.heading-tertiary.u-mb-small Meet nature
							p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, perspiciatis.
					.col-1-of-4
						.feature-box
							i.feature-box__icon.icon-basic-map
							h3.heading-tertiary.u-mb-small Find your way
							p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, perspiciatis.
					.col-1-of-4
						.feature-box
							i.feature-box__icon.icon-basic-heart
							h3.heading-tertiary.u-mb-small Live a Healthier Life
							p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, perspiciatis.
			section.section-tours#tours
				.u-center-text.u-mb-big
					h2.heading-secondary Most popular tours
				.row
					.col-1-of-3 
						.card
							.card__side.card__side--front
								.card__picture.card__picture--1
								h4.card__heading
									span.card__heading-span.card__heading-span--1 The sea explorer
								.card__details
									ul
										li 3 day tours
										li Up to 30 people
										li 2 tour guides
										li Sleep in cozy hotels
										li Difficulty: easy
							.card__side.card__side--back.card__side--back-1
								.card__center
									.card__price-box
										p.card__price-only Only
										p.card__price-value $297
									a.btn.btn--white.btn--cover(href="#card-popup") Book now!
					.col-1-of-3 
						.card
							.card__side.card__side--front
								.card__picture.card__picture--2
								h4.card__heading
									span.card__heading-span.card__heading-span--2 The forest hiker
								.card__details
									ul
										li 7 day tours
										li Up to 40 people
										li 6 tour guides
										li Sleep provided tents
										li Difficulty: medium
							.card__side.card__side--back.card__side--back-2
								.card__center
									.card__price-box
										p.card__price-only Only
										p.card__price-value $497
									a.btn.btn--white.btn--cover(href="#card-popup") Book now!
					.col-1-of-3 
						.card
							.card__side.card__side--front
								.card__picture.card__picture--3
								h4.card__heading
									span.card__heading-span.card__heading-span--3 The snow adventurer
								.card__details
									ul
										li 5 day tours
										li Up to 15 people
										li 3 tour guides
										li Sleep in provided tents
										li Difficulty: hard
							.card__side.card__side--back.card__side--back-3
								.card__center
									.card__price-box
										p.card__price-only Only
										p.card__price-value $897
									a.btn.btn--white.btn--cover(href="#card-popup") Book now!
				.u-center-text.u-mt-large
					a.btn.btn--primary.btn--cover(href="#") Discover all tours
			section.section-stories#stories
				.bg-video
					//- autoplay 自動播放、muted 靜音、loop 無限輪播
					video.bg-video__content(autoplay loop) Your browser is not supported!
						<source src="img/video.mp4" type="video/mp4">
						<source src="img/video.webm" type="video/webm">
				.u-center-text.u-mb-big
					h2.heading-secondary We make people genuinely happy
				.row
					.story
						figure.story__shape
							img.story__img(srcset='img/nat-8-small.jpg 300w, img/nat-8.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 50vw, 300px', alt='Person on a tour' src='img/nat-8.jpg')
							figcaption.story__caption Mary Smith
						.story__text
							h3.heading-tertiary.u-mb-small I had the best week ever with my family
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aperiam dolorem in doloribus repellat nihil quod magni fugiat laudantium similique, neque iusto sint nostrum tempore, illum error doloremque distinctio. Deserunt.
				.row
					.story
						figure.story__shape
							img.story__img(srcset='img/nat-9-small.jpg 300w, img/nat-9.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 50vw, 300px', alt='Person on a tour' src='img/nat-9.jpg')
							figcaption.story__caption Jack Wilson
						.story__text
							h3.heading-tertiary.u-mb-small WOW! My life is completely different now
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aperiam dolorem in doloribus repellat nihil quod magni fugiat laudantium similique, neque iusto sint nostrum tempore, illum error doloremque distinctio. Deserunt.
				.u-center-text.u-mt-large
					a.btn-text(href="#") Read all stories &rarr;
			section.section-book#booking
				.row
					.book
						.book__form
							form.form(action="#")
								.u-mb-medium
									h2.heading-secondary Start booking now
								.form__group
									input.form__input#name(type="text" placeholder="Full Name" required)
									.form__barline
									label.form__label(for="name") Full Name
								.form__group
									input.form__input#email(type="email" placeholder="Email address" required)
									.form__barline
									label.form__label(for="email") Email Address
								.form__group.u-mb-medium
									.form__radio-group
										input.form__radio-input#small(type="radio" name="select")
										label.form__radio-label(for="small") Smaill tour group
											span.form__radio-button
									.form__radio-group
										input.form__radio-input#large(type="radio" name="select")
										label.form__radio-label(for="large") Large tour group
											span.form__radio-button
								.form__group
									button.btn.btn--primary.btn--cover Next stop &rarr;
		footer.footer
			.footer__logo-box
				picture.footer__logo
					//- source: 用media來判斷瀏覽器寬度
					source(srcset='img/logo-green-small-1x.png, img/logo-green-small-2x.png 2x' media='(max-width: 37.5em)')
					//- srcset: 以裝置像素密度來判斷顯示圖片 1x or 2x
					img(srcset='img/logo-green-1x.png 1x ,img/logo-green-2x.png 2x' alt='full logo' src='img/nat-1-large.jpg')
			.row
				.col-1-of-2
					.footer__navigation
						ul.footer__list
							li.footer__item
								a.footer__link(href="#") Company
							li.footer__item
								a.footer__link(href="#") Contact us
							li.footer__item
								a.footer__link(href="#") Carrers
							li.footer__item
								a.footer__link(href="#") Privacy policy
							li.footer__item
								a.footer__link(href="#") Terms
				.col-1-of-2
					p.footer__copyright Copyright &copy; by &nbsp;
						a.footer__link(href="https://www.facebook.com/maoxic" target="_blank") Hsi-Mao CHEN
		.popup#card-popup
			a.popup__close-bg(href="#tours")
			.popup__content
				.popup__left
					img.popup__img(srcset='img/nat-8-small.jpg 300w, img/nat-8.jpg 1000w' sizes='(max-width: 75em) 37.5vw, (max-width: 37.5em) 37.5vw, 300px', alt='Person on a tour' src='img/nat-8.jpg')
					img.popup__img(srcset='img/nat-9-small.jpg 300w, img/nat-9.jpg 1000w' sizes='(max-width: 75em) 37.5vw, (max-width: 37.5em) 37.5vw, 300px', alt='Person on a tour' src='img/nat-9.jpg')
				.popup__right
					a.popup__close-btn(href="#tours") &times;
					h2.heading-secondary.u-mb-small Start booking now
					h3.heading-tertiary.u-mb-small Important &ndash; Please read these terms before booking
					p.popup__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nisi! Accusamus temporibus reprehenderit amet soluta commodi! At dolore eaque quaerat dolorem, odio quos delectus quam voluptatum facere sint non eos? Nisi dolorum sequi placeat dignissimos possimus ipsum omnis quaerat aliquid delectus temporibus, perspiciatis explicabo ea. Deleniti laborum in voluptate rem!
					a.btn.btn--primary.btn--cover(href="#") Book now